*.[oa]
*~
log/
vendor/
tmp/
public/ 
dbbackup/
color/     
db/seeds.rb        
config/database.yml
v8_development.sql
v8_production.sql
   
v8.tmproj    
v8.sublime-project  
v8.sublime-workspace  
v8.esproj/         
user.tank.espressostorage
Project.espressostorage

*.DS_Store