<div class="row">
	<div class="span12">       
	<h4>一分钟即可注册好,从此告别宅男:</h4>
	<% if session[:person_id] and !is_admin? %>
		<div id="notice">你已经注册,请回到<%= link_to "个人主页", Person.find(session[:person_id]) %></div>
	<% else  %>
		<%= render 'form' %>
	<% end %>

	</div>
</div>