/* @override 
	http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
*/



ul {
	list-style:none;
	margin-left:0;
}
#guanggao {
	height: 20px;
	background: #d00;
	color: white;
	font-size: 12px;
	text-indent:1em;
	padding:5px 0;
	line-height:20px;
	width:100%;	
	margin-bottom:10px;
}

/*navbar*/
.navbar-inner .nav li a {
	padding:10px 10px;
}
.navbar-inner .nav .divider-vertical{
	margin-left:7px;
	margin-right:7px;
}
.navbar-inverse .divider-vertical {
  border-right-color: #333;
  border-left-color: #222;
}
/*nav-tab*/
.nav-stacked li.active a, .nav-stacked li.active a:hover{
	background-color:#08c;
	color:#fff;
}
/*nav-list*/
.nav-list .nav-header{
	font-size:18px;
}


/*courses*/

#courses{
	font-size: 12px;
}
#courses th{
	background-color: #fc0;
}
#courses .name{
	width: 70px;
}
#courses .category{
	width: 40px;
}
#courses .date{
	width: 76px;
}
#courses .holiday{
	width: 30px;
}
#courses .city{
	width: 30px;
}
#courses .teacher{
	width: 50px;
}
#courses .digit{
	width: 28px;
}
#courses .discount_requirement{
	width: 180px;
}
#courses .remain_days{
	width: 50px;
}

/*#topics .topic-title{
	width:320px;
	margin-right:30px;
}
#topics .topic-author{
	width:70px;
	margin-right:20px;
}
#topics .topic-comments-size{
	width:30px;
	margin-right:20px;
}
#topics .last-reply-at{
	width:60px;	
}*/

#topics hr{
	margin: 0 0;
}

#topics h4{
	font-size:16px;
}
#topics .media{
	margin-top:8px;
}
#topics > .media > a.pull-left{
	display:block;
	width:50px;
}
#topics .media-body .media p.help-block{
	font-size:13px;
}
#topics a:visited, .media-heading a:visited{
	color:#669;
}



#search_results .title{
	width:70%;
}
#search_results .created-at{
	width:15%;
}
#search_results .comments-size{
	width:10%;
}


h1{
	line-height: 150%;
	text-align: left;
	clear: both;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom:30px;
	padding:12px 8px;
	color: #ff0;
	font-weight: bold;	
	text-indent: 0.2em;
	background: #d70 url(/assets/arrow_right.png) no-repeat 100% 0px;
}

h2{
	color:#f00;
}
h5{
	color:#f00;
	font-family:kai;
}

.caifang{
	margin-top:-410px;
	margin-right:30px;
	float: right;
}

.article_image{
	clear:both;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.article_image img{
	margin:0;
}

/*-------------------kfqq------------------------*/
/*增加relative为了让kfqq相对于他进行绝对,而不是相对于body*/
.container{
	position:relative;
}
.kfqq{
	width:130px;
	height:248px;
	float:right;
	top:200px;
	right:-180px;
	position:absolute;
}
.kfqq img{
	margin:0;
}

/*加亮h4的颜色*/
.alert, .alert h4{
	color:#f92;
}
.cancel{
	margin-left:40px;
}
/*让框更加向左靠齐点*/
.control-group > .control-label{
	width:110px;
}
.control-group > .controls {
	margin-left:130px;
}
