/* @override 
	http://localhost:3000/assets/application.css?body=1 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
*/



ul {
	list-style:none;
	margin-left:0;
}

#head{
	height:150px;
	width:100%;
	background:  url(/assets/head_bg.png) repeat-x 0px 0px;
	margin-bottom:10px;
	color:#fff;
}
#head a{
	color:#fff;
}
#guanggao {
	height: 28px;
	color: white;
	font-size: 12px;
	text-indent:1em;
	padding-top:4px;
	line-height:20px;
	width:100%;		
}
#guanggao a{
	text-decoration:underline;
}

#logo{
	height:60px;
	width:100%;
	background:  url(/assets/logo_bg.jpg) repeat-x 0px 0px;
	padding-top:5px;
}
#nav{
	height:30px;
	width:100%;
}

#nav ul li{
	float:left;
	padding:0 18px;
	border-left:2px solid #ddd;
	margin-top:8px;               
	background-color:#fff;
}
#nav ul li a{        
	padding-top:2px;
	display:block;
	color:#000;
	font-size:15px;
	font-weight:bold; 
	
}
#nav .active a{
	color:#006fdd;
	border-bottom:2px solid #006fdd;
}
#nav a:hover{
	color:#006fdd;
	text-decoration: none;
}



/*people index页面,避免有的图片太矮引起布局混乱*/
.person-avatar{
	height:50px;
}
.media small{
	overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}             
.people-row{
    margin-bottom:10px;
	padding-bottom:5px;
	border-bottom: 1px dashed #bbb;
}

/*resource index页面的标签颜色需要修改*/
.label-info a{
	color:#fff;
}

/*突出显示测试后的分数*/
.testing-score{
	color:#f00;
	font-size:18px;
	font-weight:bolder;
}



/*资源,惯例库等竖着的导航*/
.nav-stacked li.active a, .nav-stacked li.active a:hover{
	background-color:#08c;
	color:#fff;
}


/*events*/
.datetime_select select{
  width:80px;
}                  


#topics .topic-title{
	width:300px;
	margin-right:30px;
}

#topics .topic-comments-size{
	width:30px;
	margin-right:20px;
}
#topics .last-reply-at{
	width:60px;	
}

  
#topics h4{
	font-size:16px;
}
#topics .media{
	margin-top:8px;
}
#topics > .media > a.pull-left{
	display:block;
	width:50px;
}
#topics .media-body .media p.help-block{
	font-size:13px;
}
#topics a:visited, .media-heading a:visited{
	color:#669;
}
     

.usage_pinglun{
	background-color:#8c9;
}

#search_results .resource-avatar{
	width:5%;
} 
#search_results .title{
	width:65%;
}
#search_results .created-at{
	width:15%;
}
#search_results .nick_name{
	width:15%;
}



#events{
	font-size: 12px;
}
#events th{
	background-color: #fc0;
}
#events .name{
	width: 70px;
}
#events .category{
	width: 40px;
}
#events .date{
	width: 76px;
}
#events .holiday{
	width: 30px;
}
#events .city{
	width: 30px;
}
#events .teacher{
	width: 50px;
}
#events .digit{
	width: 28px;
}
#events .discount_requirement{
	width: 180px;
}
#events .remain_days{
	width: 50px;
}



 hr{
	margin: 0 0;
}


h1{
	line-height: 150%;
	text-align: left;
	clear: both;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom:30px;
	padding:12px 8px;
	color: #ff0;
	font-weight: bold;	
	text-indent: 0.2em;
	background: #d70 url(/assets/arrow_right.png) no-repeat 100% 0px;
}

h2{
	color:#f00;
}
h5{
	color:#f00;
	font-family:kai;
}

.caifang{
	margin-top:-410px;
	margin-right:30px;
	float: right;
}

.article_image{
	clear:both;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.article_image img{
	margin:0;
}

/*-------------------kfqq------------------------*/
/*增加relative为了让kfqq相对于他进行绝对,而不是相对于body*/
.container{
	position:relative;
	
}
.kfqq{
	width:105px;
	height:248px;
	float:right;
	top:200px;
	right:-160px;
	position:absolute;
}
.kfqq img{
	margin:0;
}

/*加亮h4的颜色*/
.alert, .alert h4{
	color:#f92;
}
.cancel{
	margin-left:40px;
}
/*让框更加向左靠齐点*/
.control-group > .control-label{
	width:110px;
}
.control-group > .controls {
	margin-left:130px;
}
